a{
color: orangered;
text-decoration: none; /* Tira o sublinhado do link */
}


/* Links já visitados*/
a:visited{
    /*color:green*/
    filter: brightness(-150%) /*Cor 150% mais brilhante*/
}

/* Link enquanto o mouse está sobre ele*/
a:hover{
    /*color:orange*/
    filter: brightness(150%); /*Cor 150% mais brilhante*/
    text-decoration: underline /*Volta o sublinhado*/
}